<%- include('header'); -%>

<body>
  <% if (listTitle == "Work"){ %>
  <a href="/..">
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
  </a>
  <% }else{ %>
  <a href="/work">
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
  </a>
  <% } %>

  <div class="box">
    <% taskList.forEach(function(item){ %>
    <form action="/delete" method="POST">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item.id%>" onChange="this.form.submit()"/>
        <p class=""><%=item.name%></p>
      </div>
    </form>

    <%}) %>

    <form class="item" action="/" method="post">
      <input
        type="text"
        name="taskName"
        placeholder="Add Task"
        autocomplete="off"
      />
      <button type="submit" name="button" value="<%= listTitle %>">
        <i class="fas fa-plus"></i>
      </button>
    </form>
  </div>
</body>

<%- include('footer'); -%>
